<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="vegStore">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homefield Organics</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <link rel="stylesheet" href="stylesheets/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,800,700,300,400' rel='stylesheet' type='text/css'>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    
</head>
    <body>
        
        <headline></headline>
        
        <!-- Top Bar -->
        <div class="contain-to-grid sticky ">
            <nav class="top-bar" data-topbar>
                <section class="top-bar-section">
                    <ul class="left">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">The Food</a></li>
                    </ul>

                    <ul class="logo-spot">
                        <li class="name">
                            <a href="#"><object id="bar-logo" data="images/Homefield%20Organics%20Logo.svg" type="image/svg+xml"></object></a> 
                        </li>
                    </ul>

                    <ul class="right">
                        <li><a href="#">Login</a></li>
                        <li><a href="#" class="button radius">Sign Up</a></li>
                    </ul>
                </section>
            </nav>
        </div>
        
        <login-and-signup></login-and-signup>
        
        <!-- Buzzwords -->
        <div class="buzzwords-background">
            <div class="row buzzwords area">
                <div class="row space-me  top-row">
                    <div class="medium-5 large-5 medium-offset-1 large-offset-1 columns">
                        <div class="buzz-one word-pic"></div>
                    </div>
                    <div class="medium-5 large-5 columns end ft">
                        <div class="row">
                            <h3>Fresh Products Weekly</h3>
                        </div>
                        <div class="row">
                            <h6>Homefield Oragnics carries a large range of organic, local and fresh foods. We keep great taste high up on our priority list, as we are sure you do too. Local food critic Hunter Caron has given our produce selection a 5 out of 5</h6>
                        </div>
                    </div>
                </div>

                <div class="row space-me">
                    <div class="medium-5 large-5 medium-offset-1 large-offset-1 columns ft odd">
                        <div class="row">
                            <h3>Easy to Order</h3>
                        </div>
                        <div class="buzz-two row">
                            <h6>With our fast and dynamic online store you can browse, pick and order online veggies extremely easily and quickly. It’s not hard to come home to fresh produce. Even a teacher could do it without a problem!</h6>
                        </div>
                    </div>
                    <div class="medium-5 large-5 columns end">
                        <div class="word-pic"></div>
                    </div>
                </div>

                <div class="row space-me">
                    <div class="medium-5 large-5 medium-offset-1 large-offset-1 columns">
                        <div class="buzz-three word-pic"></div>
                    </div>
                    <div class="medium-5 large-5 columns end ft">
                        <div class="row">
                            <h3>Eco-Friendly</h3>
                        </div>
                        <div class="row">
                            <h6>Whether is be the veggies or the enviroment, Homefield Organics pledges to be as green as can be, end to end. From our bike messenger who delivers veggies, to the way our toilets work.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="divider-image">
            <div></div>
        </div>
        
        <steps></steps>
        
        <div class="divider-image second">
            <div></div>
        </div>
        
        <!-- Preview Store -->
        <div class="store-background">
            <div class="row">
                <div ng-controller="StoreController as store">
                    <div class="row">
                        <div class="large-12 medium-10 small-centered large-uncentered columns no-pad">
                            <div class="row collapse">
                                <div class="small-10 medium-10 columns">
                                    <input class="search-box" type="text" placeholder="Search" ng-model="search">
                                </div>
                                <div class="small-2 medium-2 columns">
                                    <a href="#" class="button search-button postfix">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div></div>
                    </div>
    
                    <div class="row">
                        <div class="large-11 medium-11 medium-centered large-uncentered columns">
                            <div class="row store-item" ng-repeat="product in store.products | filter:search">
                                <div class="large-1 medium-1 columns">
                                    
                                    <div class="checkboxFour">
  		                                <input type="checkbox" class="checkbox" value="1" id="{{product.name}}" ng-model="product.isSelected"/>
	  	                                <label for="{{product.name}}"></label>
  	                                 </div>
                                </div>
                                <div class="large-6 medium-6 columns">
                                    <div class="row name-area">
                                        <div class="large-12 medium-12 column name-box no-pad">
                                            <h5 class="item-subcategory">{{product.subCategory}}: </h5>
                                            <h3 class="item-name">{{product.name}}</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="item-origin">From {{product.origin}}</p>
                                    </div>
                                </div>
                                <div class="large-1 medium-1 columns">
                                    <h5 class="item-price">{{product.price[0] | currency}}</h5>
                                </div>
                                <div class="large-2 medium-2 columns">
                                    <!--
                                    <select class="form-control item-sizes" ng-options="sizes for sizes in product.sizes">
                                        <option value="" ng-bind="product.sizes[0]"></option>
                                    </select>
                                    -->
                                    <h5>{{product.sizes[0]}}</h5>
                                </div>
                                <div class="large-2 medium-2 columns">
                                    <div class="row">
                                        <div class="icon organic has-tip [radius round]" data-tooltip title="Organic Item" data-options="disable_for_touch:true" ng-show="{{product.isOrganic === true}}"></div>
                                        <div class="icon local has-tip [radius round]" data-tooltip title="Local Item" data-options="disable_for_touch:true" ng-show="{{product.isLocal === true}}"></div>
                                        <div class="icon sale has-tip [radius round]" data-tooltip title="Sale Item" data-options="disable_for_touch:true" ng-show="{{product.isOnSale === true}}"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        <div class="large-1 medium-11 medium-centered large-uncentered column order-area-outer">
                            
                            <a href="#" class="button open-cart" data-options="align:left" data-dropdown="drop2">
                                <img id="cart-logo" src="images/cart.svg" type="image/svg+xml"></img>
                            </a>
                                <div id="drop2" data-dropdown-content class="f-dropdown content large">
                                 
                                <div class="column order-area-inner">
                                    <div class="row order-top">
                                    <h3>Order Summary</h3>
                                    </div>
                                
                                <div class="row order-item" ng-repeat="product in store.products | filter: 'walrus'">
                                    <div class="large-1 medium-1 column">
                                        <div class="remove-icon"></div>
                                    </div>
                                    <div class="large-8 medium-8 column">
                                        <h6 class="order-item-name">1lb - Apples: Red Gala</h6>
                                    </div>
                                    <div class="large-1 medium-1 column">
                                        <select class="form-control item-quantity" ng-options="">
                                            <option value>2</option>
                                    </select>
                                    </div>
                                    <div class="large-1 medium-1 column no-pad">
                                        <h6 class="order-item-price">$122.00</h6>
                                    </div>
                                </div>
                                    
                                <div class="row order-bottom">
                                    <div class="row light-text">
                                        <div class="large-6 medium-6 column">
                                            <h6>Subtotal</h6>
                                        </div>
                                        <div class="large-5 medium-5 small-offset-1 column">
                                            <h6>$220.00</h6>
                                        </div>
                                    </div>
                                    <div class="row light-text">
                                        <div class="large-6 medium-6 column">
                                            <h6>Shipping</h6>
                                        </div>
                                        <div class="large-5 medium-5 small-offset-1 column">
                                            <h6>$5.00</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 medium-6 column">
                                            <h6>Grand Total</h6>
                                        </div>
                                        <div class="large-5 medium-5 small-offset-1 column">
                                            <h6>$225.00</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-5 medium-5 column small-centered large-centered">
                                            <a class="button  small">Submit Order</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                        
                                    
                                </div>
                                
                                
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="medium-6 column">
                    <p>Designed and Coded by Hunter Caron</p>
                </div>
                <div class="medium-3 medium-offset-3 large-3 large-offset-3 column end">
                    <p>Not Official Homefield Organics Site</p>
                </div>
            </div>
        </footer>
        
        
        
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>